# Virtual environments
.venv/
venv/
.venv311

# Python cache
__pycache__/
*.pyc

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Training outputs / logs
logs/
models/
runs/
tensorboard/
*.tfevents.*

# Saved models (can be large)
*.zip
*.pth
*.pt

# Videos (large)
videos/
*.mp4

# Local data
*.rom
*.bin
*.gz
*.tar
*.7z

/mario
gym_retro-0.8.0-cp38-cp38-win_amd64.whl